* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #00aeff;
    font-family: Arial, Helvetica, serif;
}

#title {
    text-align: center;
    font-size: 50px;
    padding: 20px 0 20px 0;
}

.game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 30px;
}

#playButton {
    color: #FFFF;
    background-color: #FF3860;
    font-size: 25px;

    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;

    transition: .4s;
}

#playButton:hover {
    background-color: #e6103b;
}

/* GAME */

.modal-content {
	position: fixed;
	top: -100%;
	left: 0;
	transition: all 0.7s ease-in-out;
	width: 100%;
	min-height: 50%;
	background: #FF3860;
	text-align: center;
	z-index: 1000;
}

.modal-content.open {
	top: 0;
}

.modal-content h3 {
    color: #fff;
	font-family: Arial, Helvetica, serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 46.16px;
	margin-top: 16px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 25px;
}

.counterText {
    color: #fff;
    font-size: 30px;
    font-weight: bold;

    border: 4px solid #FF3860;
    border-radius: 10px;
    padding: 10px;
}

.table {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 30%;
}

.cell {
    flex-basis: 33.3%;
	height: 13vh;
	width: 26vw;
	min-height: 98px;
	min-width: 98px;
}

#Cell_1,
#Cell_4,
#Cell_7 {
	border-right: 3px solid #FF3860;
}

#Cell_3,
#Cell_6,
#Cell_9 {
	border-left: 3px solid #FF3860;
}

#Cell_4,
#Cell_5,
#Cell_6 {
	border-bottom: 3px solid #FF3860;
	border-top: 3px solid #FF3860;
}

.player1 {
    background-image: url(../images/segnoX.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.player2 {
    background-image: url(../images/segnoO.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetBTN {
    color: #fff;
    background-color: #FF3860;
    font-size: 20px;
    padding: 10px;

    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;

    transition: .4s;
}

#resetBTN:hover {
    background-color: #e6103b;
    font-size: 25px;
}

#indietroBTN {
    color: #fff;
    background-color: #FF3860;
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;

    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;

    transition: .4s;
}

#indietroBTN:hover {
    background-color: #e6103b;
    font-size: 25px;
}